@import '@less/defs.less';
@import '@less/color.less';

.text {
    .font-size(35px);
    .font-semibold();
}

.gr {
    color: rgba(255, 255, 255, 0.6);
}

.appbar {
    .flex-row(15px 20px);
    .radius(60px);
    .center(flex-start, center);
}

.logo {
    .radius(50%);
    .w(60px);
    .h(60px);
}

.ver {
    color: #9e9e9e;
    margin-left: 15px;
}

.developers {
    .flex-column(15px 10px);
    .radius(50px);
    justify-content: center;
    align-items: center;
    width: 364px;
}

.developer {
    .flex-row(0px, #00000000);
}

.img {
    .w(52px);
    .h(53px);
    object-fit: none;
}

.devname {
    padding-left: 22px;
}

.disclaimer-btn {
    .flex-column(15px 40px);
    .radius(90px);
    width: 270px;
    background-color: #262626;
    justify-content: center;
    align-items: center;
}