.btnbase {
    width: 314px;
    height: 93px;
    border-radius: 30px;
    background-color: #262626;
    align-items: center;
}

.btnimg {
    margin-left: 22px;
    width: 49px;
    height: 52px;
    object-fit: contain;
}

.btntext {
    margin-left: 22px;
    width: 190px;
    font-size: 35px;
    font-weight: 500;
}