.featurebox {
    width: 321px;
    height: 222px;
    border-radius: 33px;
    background-color: #222222;
    flex-direction: column;
}

.boxline {
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuretext {
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}

.featureimg {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
}

.bubble {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;
    height: 32px;
    border-radius: 100px;
    background-color: #ff4141;
    align-items: center;
    justify-content: center;
}

.bubble_text {
    font-size: 14px;
    font-weight: 600;
}