@import '@less/defs.less';
@import '@less/color.less';

.setbase {
    width: 370px;
    height: 92px;
    border-radius: 30px;
    background-color: #262626;
    align-items: center;
    flex-direction: row;
    margin-top: 6px;
}

.seticon {
    margin-left: 25px;
    width: 55px;
    height: 55px;
    object-fit: scale-down;
}

.setext_small {
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
}

.countset_num {
    position: absolute;
    right: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #FF7DA8;
}

.arrow {
    position: absolute;
    right: 20px;
}