.searchbtn {
    width: 270px;
    height: 50px;
    border-radius: 130px;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
}

.searchtip {
    font-size: 25px;
    font-weight: 500;
}

.hottitle {
    font-size: 26px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 3px;
}

.hotword-text {
    font-size: 22px;
    font-weight: 500;
    width: 238px;
    lines: 1;
    margin-left: 12px;
    text-overflow: ellipsis;
}