@import '@less/defs.less';
@import '@less/color.less';

.cleartip {
    font-size: 35px;
    font-weight: 600;
    color: #9E9E9E;
}

.typebox {
    .radius(30px);
    .flex-column(10px);
}

.tmptype {
    .flex-row(10px 15px, #434343);
    .radius(20px);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.typetxt {
    font-weight: 600;
    font-size: 30px;
}

.typesize {
    font-weight: 600;
    font-size: 30px;
    color: gray;
}