@import '@less/defs.less';
@import '@less/color.less';

.video-audio-item {
    width: 90%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.video-audio-cover {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: #333;
}

.video-audio-info {
    flex: 1;
    margin-left: 15px;
    flex-direction: column;
    justify-content: center;
}

.video-audio-title {
    font-size: 28px;
    color: #ffffff;
    lines: 1;
    text-overflow: ellipsis;
}

.video-audio-author {
    font-size: 22px;
    color: #999999;
    margin-top: 8px;
}

.bottom-spacer {
    margin-top: 25px;
}
