.toolbtn {
    width: 280px;
    height: 80px;
    border-radius: 25px;
    flex-direction: row;
    align-items: center;
    background-color: #262626;
}

.dataicon {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.toolicon {
    width: 35px;
    height: 39px;
    object-fit: scale-down;
}

.toolname {
    font-size: 30px;
    font-weight: 600;
}