.searchbar {
    background-color: #222222;
    width: 255px;
    height: 50px;
    border-radius: 130px;
    flex-direction: row;
    align-items: center;
}

.typebar {
    flex-direction: row;
    width: 257px;
    height: 34px;
}

.typetext {
    font-size: 25px;
    font-weight: 600;
}

.swipermain {
    width: 100%;
    height: 97%;
}

.tiplabel {
    width: 100%;
    height: 50px;
}

.listtip {
    margin-left: 72px;
    font-size: 25px;
    font-weight: 600;
}

.swiper_container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.swiper_box {
    width: 100%;
    height: 100%;
}