@import '@less/defs.less';
@import '@less/color.less';

// 瀑布流总框架
.waterfall {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 340px;
}

// 竖向瀑布流框架
.waterfall-column {
    .flex-column(0, @blankColor);
}