.articlebox {
    flex-direction: column;
    align-items: center;
    width: @screenWidth;
}

.infobox {
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;
}

.infofield {
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 34px;
    font-weight: 600;
}

.infofield_text {
    font-size: 18px;
    font-weight: 600;
    color: #9e9e9e;
    margin-left: 7px;
}

.pinknum {
    color: #ff7da8;
    font-size: 18px;
    font-weight: 600;
}