.setbase {
    width: 291px;
    height: 81px;
    border-radius: 30px;
    background-color: #262626;
    align-items: center;
    flex-direction: row;
    margin-top: 6px;
}

.seticon {
    margin-left: 25px;
    width: 42px;
    height: 42px;
    object-fit: scale-down;
}

.setext_small {
    font-size: 22px;
    font-weight: 600;
    margin-left: 15px;
    width: 170px;
}

.setext {
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
}

.countset_num {
    font-size: 20px;
    font-weight: 600;
    color: #4785ff;
}