@screenWidth: 100%;
@screenHeight: 100%;

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: @screenWidth;
    height: @screenHeight;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: @screenWidth;
    height: @screenHeight;
}

text {
    color: white;
}