@import '@less/defs.less';
@import '@less/color.less';

.ctxcard {
    .flex-column(15px);
    .radius(15px);
    width: 300px;
}

.ctxdesc {
    .flex-row(0px, #00000000);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.desctxt {
    font-size: 24px;
    font-weight: 600;
}

.gs {
    font-size: 20px;
    color: gray;
}

.mp-scroll {
    width: 100%;
}

.mp {
    .flex-row(0px, #00000000);
    height: 100%;
}