.searchbtn {
    width: 270px;
    height: 50px;
    border-radius: 130px;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
}

.searchtip {
    font-size: 25px;
    font-weight: 500;
}

.hotwords {
    width: 272px;
    height: 243px;
    flex-direction: column;
    align-items: flex-start;
}

.hottitle {
    font-size: 26px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 3px;
}

.hotwordlist {
    width: 272px;
    height: 245px;
}