.vidtitle {
    font-size: 20px;
    font-weight: 600;
    color: #9e9e9e;
    margin-top: 10px;
    width: 281px;
}

.statbar {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 281px;
}

.stat {
    flex-direction: row;
    align-items: center;
}

.statimg {
    width: 20px;
    height: 15px;
    object-fit: scale-down;
}

.statext {
    font-size: 20px;
    font-weight: 600;
    color: #9e9e9e;
    margin-left: 5px;
}

.vidtoolbar {
    flex-direction: row;
    width: 374px;
}

.vidtool {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 85px;
}

.vidtooltext {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.vidtoolimg {
    width: 62px;
}