.folder {
    margin-top: 10px;
    width: 340px;
    height: 120px;
    background-color: #262626;
    border-radius: 40px;
    flex-direction: row;
    align-items: center;
}

.folderlist {
    align-items: center;
    justify-content: center;
}

.folderimg {
    margin-left: 15px;
    border-radius: 30px;
    max-width: 121px;
    max-height: 68px;
    min-width: 121px;
    min-height: 68px;
    object-fit: contain;
}

.foldername {
    margin-left: 10px;
    height: 60px;
    width: 130px;
    margin-top: 10px;
    align-items: flex-start;
}

.foldername_text {
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 24px;
}

.foldercount {
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 5px;
}