.foldervid_div {
    margin-top: 10px;
    width: 77%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foldervid_list {
    width: 77%;
    height: 100%;
}

.foldervid_listitem {
    height: 170px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.foldervid_list_vid {
    border-radius: 50px;
    background-color: #262626;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.vidinfo {
    flex-direction: row;
    height: 130px;
    width: 100%;
}

.vidpicture {
    margin-left: 26px;
    margin-top: 20px;
    min-width: 160px;
    min-height: 100px;
    max-width: 160px;
    max-height: 100px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
}

.vidpicture_img {
    min-width: 160px;
    min-height: 100px;
    max-width: 160px;
    max-height: 100px;
    border-radius: 30px;
}

.vidtitle {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 145px;
    text-overflow: ellipsis;
}

.vidstat {
    flex-direction: row;
    margin-left: 30px;
}

.upinfo {
    font-size: 14px;
    font-weight: 600;
}

.stat_view {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    margin-left: 250px;
}