.time {
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.btnbase {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #222222;
    align-items: center;
    justify-content: center;
}

.btntext {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
}

.smallbtntext {
    font-size: 25px;
    font-weight: 600;
    margin-left: 11px;
}

.btnimg {
    width: 70px;
    height: 76px;
    object-fit: scale-down;
}

.btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallbtn {
    width: 140px;
    height: 55px;
    border-radius: 32px;
    background-color: #222222;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnline {
    flex-direction: row;
    width: 300px;
}