@import '@less/defs.less';
@import '@less/color.less';

.time {
    .font-size(50px);
    .font-semibold();
    margin-top: 20px;
}

.btnbase {
    .w(130px);
    .h(130px);
    .radius(50%);
    background-color: @baseColor;
    align-items: center;
    justify-content: center;
}

.btntext {
    .font-size(30px);
    .font-semibold();
    margin-top: 5px;
}

.smallbtntext {
    .font-size(25px);
    .font-semibold();
    margin-left: 11px;
}

.btnimg {
    .w(70px);
    .h(76px);
    object-fit: scale-down;
}

.btn {
    .flex-column(0px, @blankColor);
    justify-content: center;
    align-items: center;
}

.smallbtn {
    .w(140px);
    .h(55px);
    .radius(32px);
    .flex-row(0px, #222222);
    justify-content: center;
    align-items: center;
}

.btnline {
    .flex-row(0px, @blankColor);
    width: 300px;
}