.dmlist {
    width: 313px;
}

.user {
    margin-top: 10px;
    height: 119px;
    border-radius: 33px;
    background-color: #222222;
    flex-direction: row;
    width: 313px;
    align-items: center;
    padding: 10px;
}

.userface {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    object-fit: scale-down;
    margin-left: 26px;
    border-radius: 50%;
}

.infoarea {
    flex-direction: column;
    justify-content: center;
    width: 195px;
}

.username {
    font-size: 28px;
    font-weight: 600;
    margin-left: 11px;
    max-height: 40px;
    text-overflow: ellipsis;
}

.lastmsg {
    font-size: 20px;
    font-weight: 600;
    margin-left: 11px;
    max-height: 55px;
    text-overflow: ellipsis;
    color: #585858
}